actionlib==1.14.0
angles==1.9.13
base_local_planner==1.17.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
cv-bridge==1.16.2
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.3
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
laser_geometry==1.6.7
mavros==1.20.0
message-filters==1.17.0
python-qt-binding==0.4.4
qt-gui==0.4.2
rosbag==1.17.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.17.0
roslaunch==1.17.0
roslib==1.15.8
roslz4==1.17.0
rosmake==1.15.8
rosmaster==1.17.0
rosmsg==1.17.0
rosnode==1.17.0
rosparam==1.17.0
rospy==1.17.0
rosservice==1.17.0
rostest==1.17.0
rostopic==1.17.0
rosunit==1.15.8
roswtf==1.17.0
rqt_gui==0.5.3
rqt_gui_py==0.5.3
sensor-msgs==1.13.1
smclib==1.8.6
tf==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
topic-tools==1.17.0
xacro==1.14.18
